<div class="container">
      <h2 class="mt-4">Update <%= "#{@kid.first_name}" %>'s Details</h2>
      <p>
        <em>All the information collected will be used only to help curate
        a user experience matching the unique and amazing qualities of your child.
        It will never be used for anything else.</em>
      </p>
      <%= render 'kids/form', kid: @kid %>
      <%= link_to 'Cancel', dashboards_path, class: 'btn btn-outline-danger float-left' %>
</div>
