.article-content {
  // font-weight: 400; /* if you want the light version */
  // line-height: 1.6;
  font-size: 1.2rem;
  font-family: 'Source Serif 4', sans-serif;
}

h1.article-title {
  // font-family: "Work Sans", "Helvetica", "sans-serif";
  // font-weight: 600; /* if you want the light version */
  line-height: 1.5;
}

.article-info {
  line-height: .5rem;
}
