.kid-cards {
  a {
    text-decoration: none !important;
    color: inherit;
  }

  a:hover {
    p {
      font-size: 40px;
      transition: ease, 40ms;
    }
  }
}

.add-kid {
  font-size: 48px;
  &:hover {
    font-size: 56px;
    transition: ease, 30ms;
  }
}

.new-kid {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  #header-center {
    text-align: center;
    margin-left: 0 !important;
  }

  #card-center {
    justify-content: center;
    flex-direction: column;
  }

  .white-card {
    margin-left: 0;
  }

  .kid-card {
    margin-right: 0;
  }

  .new-kid {
    margin-left: 0;
  }
}
