.kid-cards {
  a {
    text-decoration: none !important;
    color: inherit;
  }

  a:hover {
    p {
      font-size: 40px;
      transition: ease, 40ms;
    }
  }
}

.add-kid {
  font-size: 48px;
  &:hover {
    font-size: 56px;
    transition: ease, 30ms;
  }
}

@media screen and (max-width: 600px) {
  #header-center {
    text-align: center;
    margin-left: 0;
  }

  #card-center {
    justify-content: center;
  }

  .white-card {
    margin-left: 0;
  }

  .kid-card {
    margin-right: 0;
  }

  .suggested-article {
    margin-left: 0;
    margin-bottom: 12px;
    width: 76vw vw;
  }
}

@media screen and (max-width: 600px) {
  // #margin-left-zero {
  //   margin-left: 0;
  // }


}
