// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}

#banner {
background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
background-size: 200% 200%;
// Uncomment this and comment out line 9 and also 14 here.
// background-size: contain;
background-position: center;
height: 100vh;
animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

.logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
}

.signIn {
  position: absolute;
  top: 4%;
  right: 10%;
}

.banner-text {
  text-align: center;
  padding-top: 180px;
  color: white;

  h1 {
    font-size: 180px;
  }

  p {
    font-size: 20px;
  }
}

.banner-btn {
  margin: 70px auto 0;
  display: inline-block;
}


@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
}

// what are we section

.download-btn {
  margin: 50px auto 50px;
  display: inline-block;
}

// features

.feature {
  width: 100%;
  padding: 70px 0;
}

.title-text {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 70px;

  p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #fad0c4;
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  h1 {
    font-size: 50px;
    margin: auto;
    // font-weight: bold;
    color: #fad0c4;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-top: 24px;
  }
}

.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.features {
  flex-basis: 50%;

  h2 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #fad0c4;
  }
}

.features-img {
  flex-basis: 50%;
  margin: auto;

  img {
    width: 70%;
    border-radius: 4px;
    // padding-bottom: 50px;
  }
}

.features-description {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feature-text p {
  padding: 0 20px;
  text-align: initial;
}

// .feature-icon .fa {
//   width: 50px;
//   height: 50px;
//   font-size: 30px;
//   line-height: 50px;
//   color: #ff9a9e;
//   border-radius: 8px;
//   border: 1px solid #ff9a9e;
// }

@media screen and (max-width: 770px) {
  .title-text h1 {
    font-size: 35px;
  }
  .features {
    flex-basis: 100%;
  }
  .features-img {
    flex-basis: 100%;
  }
  .features-img img {
    width: 100%;
  }
}
