.word-list {
  display: inline-block;
  font-size: 16px;
  // font-family: 'Helvetica';
  padding: 1rem 0px 1rem 24px;
  margin: 3px;
  margin-bottom: 8px;
  color: white;
  background-color: rgba(193, 193, 193, 0.858);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
}
