<div data-refresh-list-target="list">
  <div class="row justify-content-left articles">
    <% articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="article-card d-flex">
          <div class="article-card-info ml-2 mt-1">
            <h3><%= article.title %></h3>
            <p class="author-font"><em>By <%= article.author %></em></p>
            <%= simple_format(article.content.truncate(200, omission: ' ... (continued)'))%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
