<div class="container my-3">
  <div class="article">
    <h1><%= @article.title %></h1>
    <p><em><%= @article.author %></em></p>
    <p class="mb-3"><%= @article.date %></p>
    <p><%= @article.content %></p>
  </div>
</div>
