<section class="footer">

  <div class="title-text">
    <div class="title-text">
      <h1>CONTACT US</h1>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-left">
      <h3>Learn More.</h3>
      <p>Chirpy is a project that has been put together by 4 passionate indididuals all residing in Tokyo. It was born from the desire to protect our loved ones from harmful and tocix content on the internet.</p>
    </div>
    <div class="footer-right">
      <h3>Get In Touch.</h3>
      <p>2 Chome-11-3 Meguro, Meguro City, Tokyo 153-0063</p>
      <p>chirpy-app@gmail.com</p>
      <p>03-1234-1333</p>
    </div>
  </div>

  <div class="social-links">
    <i class="fa fa-brands fa-facebook"></i>
    <i class="fa fa-brands fa-instagram"></i>
    <i class="fa fa-brands fa-twitter"></i>
    <i class="fa fa-brands fa-youtube"></i>
  </div>

</section>
