  <div class="sidebar">
    <%# <img src="/image/chirpylogo.jpeg" alt="chirpy logo"> %>
    <%# logo path not working? %>
    <h2>Chirpy</h2>

    <a href="/dashboards" class="nav-link <%= current_class?(dashboards_path) %>"><i class="fa fa-solid fa-house-user mr-2"></i>Dashboard</a>
    <a href="/articles" class="nav-link <%= current_class?(articles_path) %>"><i class="fa fa-solid fa-newspaper mr-2"></i></i>Articles</a>
    <a href="/pages/support" class="nav-link"><i class="fa fa-solid fa-headset mr-2"></i>Support</a>
    <a href="/users/sign_out" class="nav-link"><i class="fa fa-light fa-arrow-right mr-2"></i>Sign Out</a>
  </div>
