<form>
  <div class="form-group shadow p-3 mb-5 bg-white rounded">
    <input type="name" class="form-control" id="exampleInputName1" placeholder="Name*">
  </div>
  <div class="form-group shadow p-3 mb-5 bg-white rounded">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email*">
  </div>
  <div class="form-group shadow p-3 mb-5 bg-white rounded">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your message*"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-secondary">Submit</button>
</form>
