<section id="banner">
  <img src="app/assets/images/logo.png" alt="chirpy-logo" class="logo">

  <div class="signIn">
    <% if user_signed_in? %>
      <%= link_to 'Dashboard', dashboards_path, class: "btn btn-white btn-animate" %>
      <%# would be nice to use the chirpy icon maybe here? instead of a button? %>
    <%  else %>
      <%= link_to 'Log In', new_user_session_path, class: "btn btn-white btn-animate" %>
    <% end %>
      <%# <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-dark %>
      <%# <a href="#" class="btn btn-white btn-animate">Log In</a> %>
  </div>

  <div class="banner-text">
    <h1>Chirpy.</h1>
    <p>Piece of mind for you and your loved ones.</p>
    <div class="banner-btn">
      <a href="#" class="btn btn-white btn-animate">Start Here</a>
    </div>
  </div>
</section>

<%# <div class="sideNav">
  <nav>
    <ul>
      <li><a href=""></a>HOME</li>
      <li><a href=""></a>DASHBOARD</li>
    </ul>
  </nav>
</div>

<div class="menuBtn">
  <img src="app/assets/images/menu.png" alt="" id="menu">
</div> %>
