<section>
  <nav>
    <a href="#" class="btn btn-white btn-animate">Log In</a>
  </nav>

  <div class="container-non-bs">
    <h2 class="main-title">Chirpy.</h2>
    <a href="#" class="btn btn-white btn-animate">Start Here</a>
    <%# <img src="https://wp-mktg.prod.getty1.net/istockcontentredesign/wp-content/uploads/sites/5/2021/03/2021_iStock_LatestBGTrends_Hero.jpg.jpeg" alt="" class="bg1"> %>
  </div>

  <div class="content">
   <div class="container text-center ">
`   <p class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab itaque porro odio tempora ullam similique odit aperiam atque eos vero reprehenderit minima nisi repellendus, quo ipsam, quisquam quidem, eligendi eius?
    </p>
   </div>
  </div>

</section>
