/*================================*/
/* CSS styling for the popup menu */
/*================================*/

body {
  width: 320px;
  height: 276px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
.content-container {
  width: 80vw;
  margin: 0 auto;
}
.page-frame-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-frame-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(245, 245, 245);
  padding: 16px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-frame-body {
  flex-grow: 1;
  overflow: scroll;
  width: 240px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.page-frame-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-frame-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-frame-footer {
  background-color: rgb(255, 255, 255);
  border-top: 2px solid rgb(245, 245, 245);
  padding: 16px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-color-text {
  color: pink;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(248, 212, 218);
  transition: background 0.3s ease;
  border: 0;
}

.btn-flat:hover {
  background: rgb(255, 192, 203);
  color: white;
  cursor: auto;
  cursor: pointer;
}

.btn-flat:active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(2px);
  transition: ease 0.2s;
}

#go_to_chirpy {
  margin-left: 24px;
}

#hide_tweets {
  margin-top: 12px;
}

#signout_icon {
  margin-left: 95px;
  cursor: auto;
  cursor: pointer;
  visibility: hidden;
}

#signout_icon.visible {
  visibility: visible;
}

#user_signed_in {
  display: none;
}

#user_signed_in.visible {
  display: block;
}

#user_signed_out {
  display: none;
}

#user_signed_out.visible {
  display: block;
}

#waiting.hidden {
  display: none;
}

.text-muted {
  opacity: 0.5;
}
