/*================================*/
/* CSS styling for the popup menu */
/*================================*/

body {
  text-align: center;
  font-family: "Helvetica";
  width: 300px;
  margin: 0;
  padding: 1em;
  color: white;
  background-color: #ff9a9e;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  border-radius: 8px;
}

h1 {
  font-size: 1.8em;
  font-weight: 100;
  margin: 0.8em;
}

button {
  cursor: pointer;
  width: 90%;
  height: 3em;
  font-size: 1.5em;
  padding: 0 1em;
  margin: 0.5em;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  opacity: 0.9;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  outline: none;
}

button:hover {
  border: solid 1px white;
  opacity: 1;
}

button:disabled {
  opacity: 0.3;
}
