<% @articles.each_with_index do |article, index| %>
  <% break if index == 3 %>
  <%= link_to article_path(article) do %>
    <div class="suggested-article">
      <div class="article-card-info ml-2">
        <h6><%= article.title %></h6>
        <p class="author-font"><em>By <%= article.author %></em></p>
        <p class=""><%= simple_format(article.content.truncate(100, omission: ' ... (continued)')) %></p>
      </div>
    </div>
  <% end %>
<% end %>
