<% current_user.kids.each do |kid| %>
  <%= link_to kid_path(kid) do %>
  <div class="kid-card">
    <p><i class="fa fa-duotone fa-child"></i></p>
    <%= kid.first_name %>
  </div>
  <% end %>
<% end %>
