// Article's card
.article-card {
  padding: 16px;
  overflow: scroll;
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 500px;
  height: 260px;
  color: black;
  &:hover {
    padding: -20px;
  }

  img {
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 4px;
  }

  h3 {
    // font-family: utopia-std, Georgia, serif;
    font-size: 1.5rem;
    // font-weight: 700;
  }
}

.articles {
  a {
    text-decoration: none !important;
  }
}

.article {
  p {
    margin-bottom: 4px;
  }
}

// .author-font {
//   font-family: Pluto, 'Helvetica Neue', Helvetica, Arial, sans-serif!important;;
// }

// Kid's card
.kid-cards {
  padding: 16px;
}

.kid-card {
  margin-bottom: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  margin-right: 24px;
  width: 10rem;
  padding: 3rem 0 3rem 0;
  text-align: center;
  p {
    font-size: 36px;
  }
}

.white-card {
  margin-left: 16px;
  padding-bottom: 5rem;
  background: white;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .fa-user {
    padding: 2rem;
    font-size: 56px;
    background-color: #fcb9bb;
    border-radius: 16px;
  }
  .btn {
    position: relative !important;
  }
}

@media screen and (max-width: 600px) {
  .article-card {
    width: 300px;

    img {
      // for some reason couln't make the picture smaller?
      display: none;
    }
  }
}
