// Article's card
.article-card {
  padding: 16px;
  // overflow: scroll;
  margin: 8px 0px 0px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  max-width: 80vw;
  min-width: 80vw;
  color: black;
  &:hover {
    h3 {
      color: $chirpy-pink-dark;
    }
  }

  h3 {
    // font-family: utopia-std, Georgia, serif;
    font-size: 1.5rem;
    color: black;
    // font-weight: 700;
  }

  p {
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 300;
    color: black;
  }
}

.articles {
  a {
    text-decoration: none !important;
    color: black;
  }
}

// Kid's card
.kid-cards {
  padding: 16px;
}

.kid-card {
  margin-bottom: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  margin-right: 24px;
  width: 176px;
  height: 190px;
  padding: 3rem 0 3rem 0;
  text-align: center;
  background-size: cover;
  p {
    font-size: 36px;
  }
}

.with-image:hover {
  width: 179px;
  height: 195px;
  transition: ease 0.1s;
}

.white-card {
  margin-left: 16px;
  padding-bottom: 5rem;
  background: white;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .fa-user {
    padding: 2.5rem;
    font-size: 56px;
    background-color: #fcb9bb;
    border-radius: 16px;
  }
  .btn {
    position: relative !important;
  }
}

.suggested-article {
  padding: 16px;
  // overflow: scroll;
  margin: 8px 0px 0px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  color: black;
  height: 200px;
  width: 350px;
  overflow: scroll;
  text-decoration: none;
  h6 {
    font-weight: 800;
  }
  &:hover {
    h6 {
      color: $chirpy-pink-dark;
    }
  }
  .author-font {
    font-size: 14px;
  }
  .suggested-article-content {
    font-family: 'Source Serif 4', sans-serif;
  }
}


.profile-card {
  height: 27rem;
}

.profile-card-inner {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  height: 120px;
  width: 113px;
  margin-bottom: 16px;
}
