.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: none;
  }
    .nav-link {
    padding: 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    color: white;
    display: block;
    text-align: center;
  }

  .nav-link:hover {
    font-size: 18px;
  }
  .sign-out {
    margin-left: -2px
  }
}
