.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  padding: 16px;
  margin-right: 400px;

  h2 {
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    // font-weight: bold;
    color: white;
  }
}

.sidebar a:hover {
  color: #8a8787;
}

.sidebar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
  display: block;
}

.sidebar a.active {
  background-color: rgba(238, 237, 237, 0.386);
  border-radius: 16px;
  color: #fff9f9;
}

.dash-cont {
  margin-left: 275px;
  margin-right: 46px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .dash-cont {
    margin-left: 46px;
    margin-right: 46px;
  }
}
